<!-- Footer -->
<p class="credits page-alternate">
    &copy;2013
    <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">
		Brushed Template
	</a> by
    <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">
		Alessio Atzeni
	</a>
    <br/> Migration to
    <a href="http://www.getbootstrap.com" title="Twitter Bootstrap ">
		Twitter Boostrap 3 
	</a> , various fixes and nerdification by
    <a href="http://www.twitter.com/fforres" title="@fforres | Web Developer &amp;"> 
		@fforres
	</a>
</p>
<!-- End Footer -->
