<div class="overlay">
    <div class="welcome row row-centered row-same-height">
        <div class="col-xs-12 col-md-12 col-xs-height col-middle center-text typewrite-wrapper">
            <!--div typewrite class="typewrite" text="> We are noders" cursor="_" initial-delay="2s" type-delay="50" blink-delay="1s" callback="true"-->

            <div typewrite class="typewrite animated" text="> We are noders" cursor="_" initial-delay="0s" type-delay="50" blink-delay="1s" callback="true">
            </div>

            <!--div class="col-md-6 animated calendar text_align_center">
                <h1>adssadads</h1>
            </div>
            <div class="col-md-6 animated description text_align_center">
                <h1>adssadads</h1>
            </div-->
        </div>
        <div class="col-xs-12 col-md-12 col-xs-height col-middle center-text content-wrapper">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 animated image text_align_center">
                <img class="logo" src="/lib/img/noders3-white-904.png">
            </div>
            <div class="col-xs-12 animated text text_align_center">
                <h1>Cursos gratuitos, workshops, y charlas. <h1>NodeJS, Angular, StrongLoop, MongoDB </h1>
                <h1>¿Por qué? Porque nos gusta</h1>
            </div>
            <div class="col-xs-12 animated see-more text_align_center">
                <h1><a  href="#work" du-smooth-scroll=""><i class="fa fa-fw fa-caret-down"></i></a></h1>
            </div>
        </div>
    </div>
</div>
